.pagination {
    display: flex;
    flex: 100%;
    justify-content: space-between;
    padding: 0 1em;
}

.page-button {
    border: 1px solid black;
    padding: 10px 15px;
}

.page-button:hover {
    cursor: pointer;
    background-color:#00FFFF;
}