.pictures-header {
    display: flex;
    flex: 100%;
    justify-content: center;
    width: 400px;
    margin: auto;
    padding: 50px 0;
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica";
    text-align: center;
    
}

@media only screen and (max-width: 575.98px) {
    .pictures-header {
        font-size: 24px;
    }
}