.focus-container {
    position: fixed;
    display: flex;
    justify-content: center; 
    z-index: 99999;
    left: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
}

.landscape {
    max-width: 750px;
    max-height: 70vh;
    margin: 6em auto;
}

.landscape img {
    width: 100%;
}

.portrait {
    max-height: 70vh;
    max-width: 450px;
    margin: 6em auto;
}

.focus-container p {
    margin: 0;
}


.focus-details {
    margin-top: 0.5em;
}

@media only screen and (max-width: 992px) {
    .landscape {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .landscape {
        max-width: 550px;
    }

    .portrait {
        max-width: 450px;    }
}

@media only screen and (max-width: 575.98px) {
    .portrait {
        max-height: 60vh;
        max-width: 300px;
    }

    .landscape {
        margin: 10em auto;
        max-width: 300px;
    }
}