.focus-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1 !important;
    height: 300px;
    width: 300px;
    z-index: 99999;
    left: 0;
    right: 0;
    margin: 10em auto;
}

.focus-container p {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .focus-container {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (min-width: 1280px) {
    .focus-container {
        height: 500px;
        width: 500px;
    }
}